body{
	background:#859BFF;
}

.cover{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../Photos/Cover1.jpg);
	font-family:Rockwell;
	font-size:35px;
	color:#859BFF;
	padding: 87px;
}


a{
	text-decoration:none;
	font-family:gotham book;
	color:black;
}

P{
	text-indent:45px;
	line-height:17px;
}

.main-header{
	margin-top:10px;
	margin-bottom:10px;
}

.button{
	background-image: url(../Photos/Exclamation.jpg);
	color:#431399;
	padding:12px 20px;
	font-size: 20px;
	border:2px #8056CC solid;
}

.button:hover {
	background-image: url(../Photos/Exclamation2.jpg);
	color:white;
}

#main-menu {
	margin:0px;
	padding:0px;
	display:grid;
	text-align:center;
	list-style:none;
	grid-gap:40px;
	grid-template-columns:repeat(6,1fr);
}

.main-showcase {
	margin:0px;
	display:grid;
	grid-gap:0px;
	grid-template-columns:1fr;
}

.showcase {
	padding-left:7px;
	background:#431399;
	margin-bottom:0px;
	font-family:Rockwell;
	font-size: 15px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.byline1 {
	padding-left:7px;
	text-align: left;
	background:#ffebc5;
	margin-bottom:0px;
	font-family:century gothic;
	font-size: 15px;
	color: #cc9556;
}

.main-article {
	margin:0px;
	display:grid;
	grid-gap:0px;
	grid-template-columns:1fr 1fr;
	margin-bottom: 0px;
	font-family:century gothic;
	text-align:justify;
}

.main-article-left {
	font-size:15px;
	text-align:justify;
	font-family:century gothic;
	padding: 10px;
	background-color: #859bff;
}

.main-article-right {
	background: #8056cc;
	margin-bottom: 0px;
	display: grid;
	margin-left: 0px;
	padding: 10px;
}

#title1 {
	color: white;
	text-shadow: 3px 3px 4px black;
}

.main-article-continued {
	font-size:15px;
	text-align:justify;
	font-family:century gothic;
	padding:10px;
}

#title2 {
	color: #CC9556;
}

.space1 {
	padding:5px;
	background:#CC9556;
	margin-bottom: 0px;
}

.main-article-continued-again {
	margin:0px;
	display:grid;
	grid-gap:0px;
	grid-template-columns:1fr 1fr;
	margin-bottom: 0px;
	font-family:century gothic;
	text-align:justify;
	padding:10px;
	background-color: #FFEBC5;
	font-size:15px;
}

#title3 {
	color: #CC9556;
}

.space2 {
	padding:5px;
	background:#CC9556;
	margin-bottom: 0px;
}

.second-showcase {
	margin:0px;
	display:grid;
	grid-gap:0px;
	grid-template-columns:1fr;
	text-align: right;
}

.showcase2 {
	padding-right:7px;
	background:#431399;
	margin-bottom:0px;
	font-family:Rockwell;
	font-size: 15px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.byline2 {
	padding-right:7px;
	text-align: right;
	background:#ffebc5;
	margin-bottom:0px;
	font-family:century gothic;
	font-size: 15px;
	color: #cc9556;
}

.second-article {
	margin:0px;
	display:grid;
	grid-gap:0px;
	grid-template-columns:1fr;
	margin-bottom: 0px;
	font-family:century gothic;
	text-align:justify;
	font-size: 15px;
}

.second-article1 {
	font-size:15px;
	text-align:justify;
	font-family:century gothic;
	padding: 10px;
	background-image: url(../Photos/Capsids1.jpg);
	color: black;
}

.second-article2 {
	font-size:15px;
	text-align:justify;
	font-family:century gothic;
	padding: 10px;
	background-image: url(../Photos/Evolution.jpg);
	color: black;
}

.second-article3 {
	font-size:15px;
	text-align:justify;
	font-family:century gothic;
	padding: 10px;
	background-image: url(../Photos/therapy.jpg);
	color: black;
}

#firsttitle {
	color: #431399
}

#secondtitle {
	color: #431399
}

#thirdtitle {
	color: #431399
}

.footer {
	background-image: url(../Photos/Footer.jpg);
	padding: 50px;
}